{%load static%} {% load django_bootstrap5 %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid navbar--styles">
        <a class="navbar-brand instagram" href="/">Instagram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="">
                <div class="container-fluid search-form text-center">
                    <form id="navform" class="d-flex" action="{% url 'search' %}">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search image"
                            aria-label="Search" />
                    </form>
                </div>
            </ul>
            <ul class="navbar-nav nav-right">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="profilePhoto" src="{{user.profile.photo.url}}" alt="user" />
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile'%}"><i class="far fa-user-circle"></i>
                                Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'save_image' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="image_name">Name</label>
                            <input type="text" class="form-control" value="" name="image_name" required>
                        </div>
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <div class="form-group mt-3">
                            <label for="exampleFormControlTextarea1">Caption</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                name="image_caption" required></textarea>
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleFormControlFile1">Post Photo</label>
                            <input type="file" class="form-control" id="exampleFormControlFile1" name="image_file"
                                required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-danger">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
<hr />